---
import CustomLink from "@/components/CustomLink.astro";
import { DirectionAwareHover } from "@/components/DirectionAwareHover";
import ContentSection from "@/components/content-section.astro";
import TeamCard from "@/components/team-card.astro";
import Page from "@/frags/Page.astro";
import { type Member } from "@/types";
import { Icon } from "astro-icon/components";
import { getCollection, type CollectionEntry } from "astro:content";

interface Props {
  // teamData: Member[];
  teamData: CollectionEntry<"team">["data"][];
  member: Member;
}

export async function getStaticPaths() {
  const teamData = await getCollection("team");
  const fullTeamData = teamData.map((member) => member.data);

  return teamData.map((member) => ({
    params: {
      name: `${member.data.name.replaceAll(" ", "-").toLowerCase()}`,
    },
    props: { member: member.data, teamData: fullTeamData },
  }));
}

const { member, teamData } = Astro.props;
---

<Page
  title={`${member.name} -- ${member.designation} at Vector`}
  description={`${member.name} is a ${member.designation} at Vector. Learn more about them and the rest of the team at Vector.`}
>
  <ContentSection id={member.name} title={`${member.name}`} className="py-12">
    <div slot="eyebrow">
      <Icon slot="eyebrow" name="mdi:person" class="size-32" />
    </div>

    <TeamCard member={member} />
  </ContentSection>

  <ContentSection title={`More of the team`} className="py-16">
    <div
      class="mx-auto mb-6 grid w-5/6 gap-8 md:grid-cols-2 lg:mb-16 lg:grid-cols-3"
    >
      {
        teamData
          .filter((localMember) => localMember.name !== member.name)
          .map((localMember) => {
            return (
              <CustomLink
                href={`/team/${localMember.name.replaceAll(" ", "-").toLowerCase()}`}
              >
                <DirectionAwareHover
                  client:load
                  imageUrl={localMember.image.src}
                >
                  <div>
                    <p>{localMember.name}</p>
                    <p>{localMember.designation}</p>
                  </div>
                </DirectionAwareHover>
              </CustomLink>
            );
          })
      }
    </div>
  </ContentSection>
</Page>
