---
import "@fontsource-variable/inter";
import ImageSlider from "@/components/TeamSliderCard";
import Counter from "@/components/Counter";
import "@/styles/index.css";
import { getCollection } from "astro:content";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.";

const team = await getCollection("team");
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Meet our Team - Vector</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <div class="grid grid-cols-2 gap-4 max-w-screen-lg mx-auto">
      {
        team.map((member) => (
          <ImageSlider
            client:load
            name={member.data.name}
            designation={member.data.designation}
            image={{
              url: member.data.image.src,
              alternativeText: `${member.data.name} - ${member.data.designation}`,
            }}
          />
        ))
      }
    </div>
  </body>
</html>
