---
import type { FooterLink } from "@/types";
import { cn } from "@/utils/cn";
import { Icon } from "astro-icon/components";
import CustomLink from "./CustomLink.astro";
import { buttonVariants } from "./ui/button";

const links: Array<FooterLink> = [
  {
    url: "/vector-ai/",
    description: "Vectors's official website",
    icon: "mdi:home",
  },
  {
    url: "https://www.linkedin.com/company/vectoraico/",
    description: "Vector on LinkedIn",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://www.instagram.com/vectoraico/",
    description: "Vector on Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "mailto:hello@vector-ai.co",
    description: "Vector's email address",
    icon: "mdi:email",
  },
];

const navItems = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "Team",
    link: "/team",
  },
  {
    name: "vFit",
    link: "/products/vfit",
  },
];
---

<footer class="relative z-20 bg-white">
  <div class="mx-auto w-full max-w-screen-xl p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="/vector-ai/"
        class="mb-4 flex items-center space-x-3 invert sm:mb-0"
      >
        <img src="/vector-ai/vector.png" class="h-8" alt="Vector Logo" />
      </a>

      <ul
        class="mb-6 flex flex-wrap items-center gap-4 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mb-0"
      >
        {
          links.map((link) => (
            <li>
              <CustomLink
                class="me-6 transition-all hover:text-black hover:underline"
                href={link.url}
                rel="noreferrer"
                target="_blank"
              >
                <span class="sr-only">{link.description}</span>
                <Icon class="size-full" name={link.icon} />
              </CustomLink>
            </li>
          ))
        }
      </ul>
    </div>

    <hr class="my-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-8" />

    <div
      class="flex justify-between text-gray-500 max-sm:flex-wrap-reverse max-sm:text-center"
    >
      <div
        class="flex w-full flex-wrap items-start justify-center *:w-full sm:w-2/5 sm:justify-start"
      >
        <h4 class="font-medium">Headquarters</h4>
        <p class="text-balance">
          Office No. 11, 3rd Floor, Al Hameed Mall, G-11 Markaz G 11 Markaz
          G-11, Islamabad, Islamabad Capital Territory
        </p>
      </div>

      <div
        class="flex w-full flex-col flex-wrap items-start justify-center *:w-full max-sm:my-4 sm:w-2/5 sm:text-right"
      >
        <h4 class="font-medium">Founded</h4>
        <p>June, 2023</p>
      </div>
    </div>

    <hr class="my-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-8" />

    <div class="flex justify-between *:w-full *:items-center max-sm:flex-wrap">
      <div class="flex justify-center max-md:my-2 md:justify-start">
        <span
          class="block text-sm text-gray-500 dark:text-gray-400 sm:text-center"
          >© {new Date().getFullYear()}
          <a href="/vector-ai/" class="hover:underline">VECTOR</a>. All Rights
          Reserved.
        </span>
      </div>

      <div class="flex justify-center max-md:my-2 md:justify-center">
        {
          navItems.map((item) => (
            <CustomLink
              href={item.link}
              class={cn(buttonVariants({ variant: "link" }), "text-gray-500")}
            >
              {item.name}
            </CustomLink>
          ))
        }
      </div>

      <div class="flex justify-center max-md:my-2 md:justify-end">
        <a
          href="https://promirage.com/"
          target="_blank"
          rel="noreferrer"
          class="text-sm text-gray-500 hover:text-[#FFA939] hover:underline sm:text-center"
        >
          Powered by Mirage
        </a>
      </div>
    </div>
  </div>
</footer>
